<!DOCTYPE html>
<html>
<head>
  <title>動畫資訊檢索系統</title>
  <meta charset="utf-8">
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
  <div id='bar'></div>

  <div class="container" style="padding-top:50px">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h1 class="searchType" id="srch1">動畫搜尋</h1>
        <div class="foldForm" id="fold1">
        <form id="byName" role="form" action="AnimeSearch" method="post" autocomplete="off">
          <label class="lbl">搜尋項目</label> 
          <input class="lockedInput" type="text" name="SearchField" readonly value="Anime"> <br><br>
          <label class="lbl">動畫名稱</label> 
          <input type="text" name="AnimeName"><br>
          <input class="submit" type="submit" value="搜尋">
        </form>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <h1 class="searchType" id="srch2">風格搜尋</h1>
        <div class="foldForm" id="fold2">
        <form id="byGenre" role="form" action="AnimeSearch" method="post" autocomplete="off">
           <label class="lbl">搜尋項目</label> 
           <input class="lockedInput" type="text" name="SearchField" readonly value="Genre"> <br>
            <input type="checkbox" name="GenreName" value="1"><span class="chkbx">動作</span>
            <input type="checkbox" name="GenreName" value="2"><span class="chkbx">魔法</span>
            <input type="checkbox" name="GenreName" value="3"><span class="chkbx">奇幻</span>
            <input type="checkbox" name="GenreName" value="4"><span class="chkbx">懸疑</span>
            <input type="checkbox" name="GenreName" value="5"><span class="chkbx">冒險</span>
            <input type="checkbox" name="GenreName" value="6"><span class="chkbx">校園</span>
            <input type="checkbox" name="GenreName" value="7"><span class="chkbx">戀愛</span>
            <input type="checkbox" name="GenreName" value="8"><span class="chkbx">青春</span>
            <input type="checkbox" name="GenreName" value="9"><span class="chkbx">音樂</span><br>
          <input class="submit" type="submit" value="搜尋">
        </form>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <h1 class="searchType" id="srch3">製作公司搜尋</h1>
        <div class="foldForm" id="fold3">
        <form id="byStudio" role="form" action="AnimeSearch" method="post" autocomplete="off">
          <label class="lbl">搜尋項目</label> 
          <input class="lockedInput" type="text" name="SearchField" readonly value="Studio"> <br><br>
         <label class="lbl">動畫公司</label> <br> 
          <select name="StudioName">
            <option value="0">None</option>
            <option value="1">Ufotable</option>
            <option value="2">TYPE-MOON</option>
            <option value="3">Nitro+</option>
            <option value="4">MAGES.</option>
            <option value="5">WHITE FOX</option>
            <option value="6">A-1 Pictures</option>
            <option value="7">三次元</option>
            <option value="8">J.C.STAFF</option>
            <option value="9">ISSEN</option>
          </select>
          <input class="submit" type="submit" value="搜尋">
        </form>
      </div>
      </div>

    <div class="col-sm-6 col-md-3" style="align-content: center;">
      <h1 class="searchType" id="srch4">年度動畫搜尋</h1>
      <div class="foldForm" id="fold4">
      <form id="byDate" role="form" action="AnimeSearch" method="post" autocomplete="off">
       <label class="lbl">搜尋項目</label> 
       <input class="lockedInput" type="text" name="SearchField" readonly value="AnimeDate"> <br><br>
       <label class="lbl">年份</label> <br> 
       <input type="text" name="DateName" placeholder="YYYY">
       <input class="submit" type="submit" value="搜尋">
      </form>
      </div>
    </div>
  </div>
  <hr>
   <div class="row">
    <div class="col">
    <table id="result" border="1" style="display: none;">
      <thead>
      <tr>
        <th>劇照
        <th>動畫
        <th>製作公司
        <th>時間
        <th>集數
        <th>季度
        <th>評分
        <th>類型
        <th>角色
      </thead>
      <tbody></tbody>
    </table>
    </div>
    </div>
    <hr>
  </div>
    <div class="popCenter">
      <h1 id="castname" style="text-align: center; background-color: white; color: #009FCC;">動畫名+季度</h1>

      <div class="row">
       <div class="col">
        <table id="castResult" border="1">
        <thead>
          <tr>
            <th>角色名
            <th>角色性別
            <th>角色預覽
            <th>聲優
            <th>聲優預覽
          </tr>
        </thead>
        <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
<script src="/javascripts/general.js"></script>
<script>
  for(let i=1;i<=4;i++){
    $("#srch"+i).click(function(){
      $("#fold"+i).slideToggle();
    })
  }
  // display Casting response
  function showCast() {
    var showcast = $(".castingShow").each(function(){
      $(this).find(".submit").on("click", function() {
        $("#result").css("display","none");
        $("#castResult").find("tbody").html("");
        $(".popCenter").css("display","block");
      })
      $(this).submit(function(e){
        e.preventDefault();
        $.ajax({
          type: $(this).attr('method'),
          url: $(this).attr('action'),
          data: $(this).serialize(),
          success: function(data) {
            var object = JSON.parse(data);
            for(var num = 0; num < object.length; num++){
              var row = object[num];
              console.log(row.Cimage);

              var exactRow = '<tr><td>'+row.CharacterName+'<td>'+row.ChGender+'<td style="width:150px; height:150px;"><img id="character'+num+'" class="fitImg"><td>'+row.VName+'<td style="width:250px; height:250px;"><img id="actor'+num+'" class="fitImg">';
              $("#castResult").find("tbody").append(exactRow);
              $("#character"+num).attr("src", row.Cimage);
              $("#actor"+num).attr("src", row.Vimage);
              $("#castname").text(row.AName+" 第"+row.Season+"季");
            }
          },
          complete: function(xhr, status) {
            console.log("request showCast complete!");
          }
        })
      })
    })
  }

  // FORMS
    // handle anime searching
    var sendform = $("#byName");
    // clear previous records
    sendform.find(".submit").on("click", function() {
      $("#result").find("tbody").html("");
      $("#result").css("display","table");
      $(".popCenter").css("display","none");
    })
    // AJAX!! submit animesearch
    sendform.submit(function(e) {
      $.ajax({
        type: sendform.attr('method'),
        url: sendform.attr('action'),
        data: sendform.serialize(),
        success: function(data)
        {
          var object = JSON.parse(data);
          
          // display all animes in JSON array
          for(var num = 0; num < object.length; num++){
            var row = object[num];
            var linkCasting1 = '<form action="AnimeDetail" method="post" class="castingShow"><input type="hidden" name="SearchField" value="Casting"><input value="'
            var linkCasting2 = '" name="input" type="hidden"><input class="submit" type="submit" value="檢視角色">'

            var exactRow = '<tr><td style="width:250px; height:250px;"><img id="img'+num+'" class="fitImg">'+'<td>'+row.AName+'<td>'+row.sdName+'<td>'+row.AnimeDate+'<td>'+row.Episode+'<td>'+row.Season+'<td>'+row.Rating+'<td>'+row.Gtype+'<td>'+linkCasting1+row.AnimeID+linkCasting2;
            $("#result").find("tbody").append(exactRow);
            $("#img"+num).attr("src", row.image);
          }
        },
        complete: function(xhr, status) {
          showCast();
          console.log("request animesearch completed!");
        }
      });
      e.preventDefault();
    });



    // handle genre searching
    var sendform1 = $("#byGenre");
    // clear previous records
    sendform1.find(".submit").on("click", function() {
      $("#result").find("tbody").html("");
      $("#result").css("display","table");
      $(".popCenter").css("display","none");
    })
    // AJAX!! submit genresearch
    sendform1.submit(function(e) {
      $.ajax({
        type: sendform1.attr('method'),
        url: sendform1.attr('action'),
        data: sendform1.serialize(),
        success: function(data)
        {
          var object = JSON.parse(data);
          
          // display all animes in JSON array
          for(var num = 0; num < object.length; num++){
            var row = object[num];
            var linkCasting1 = '<form action="AnimeDetail" method="post" class="castingShow"><input type="hidden" name="SearchField" value="Casting"><input value="'
            var linkCasting2 = '" name="input" type="hidden"><input class="submit" type="submit" value="檢視角色">'

            var exactRow = '<tr><td style="width:250px; height:250px;"><img id="img'+num+'" class="fitImg">'+'<td>'+row.AName+'<td>'+row.sdName+'<td>'+row.AnimeDate+'<td>'+row.Episode+'<td>'+row.Season+'<td>'+row.Rating+'<td>'+row.Genre+'<td>'+linkCasting1+row.AnimeID+linkCasting2;
            $("#result").find("tbody").append(exactRow);
            $("#img"+num).attr("src", row.image);
          }
        },
        complete: function(xhr, status) {
          showCast();
          console.log("request genresearch completed!");
        }
      });
      e.preventDefault();
    });



    // handle studio searching
    var sendform2 = $("#byStudio");
    // clear previous records
    sendform2.find(".submit").on("click", function() {
      $("#result").find("tbody").html("");
      $("#result").css("display","table");
      $(".popCenter").css("display","none");
    })
    // AJAX!! submit studiosearch
    sendform2.submit(function(e) {
      console.log(sendform2.serialize())
      $.ajax({
        type: sendform2.attr('method'),
        url: sendform2.attr('action'),
        data: sendform2.serialize(),
        success: function(data)
        {
          var object = JSON.parse(data);
          console.log(object)
          // display all animes in JSON array
          for(var num = 0; num < object.length; num++){
            var row = object[num];
            var linkCasting1 = '<form action="AnimeDetail" method="post" class="castingShow"><input type="hidden" name="SearchField" value="Casting"><input value="'
            var linkCasting2 = '" name="input" type="hidden"><input class="submit" type="submit" value="檢視角色">'

            var exactRow = '<tr><td style="width:250px; height:250px;"><img id="img'+num+'" class="fitImg">'+'<td>'+row.AName+'<td>'+row.sdName+'<td>'+row.AnimeDate+'<td>'+row.Episode+'<td>'+row.Season+'<td>'+row.Rating+'<td>'+row.Gtype+'<td>'+linkCasting1+row.AnimeID+linkCasting2;
            $("#result").find("tbody").append(exactRow);
            $("#img"+num).attr("src", row.image);
          }
        },
        complete: function(xhr, status) {
          showCast();
          console.log("request studiosearch completed!");
        }
      });
      e.preventDefault();
    });



    // handle year searching
    var sendform3 = $("#byDate");
    // clear previous records
    sendform3.find(".submit").on("click", function() {
      $("#result").find("tbody").html("");
      $("#result").css("display","table");
      $(".popCenter").css("display","none");
    })
    // AJAX!! submit datesearch
    sendform3.submit(function(e) {
      console.log(sendform3.serialize())
      $.ajax({
        type: sendform3.attr('method'),
        url: sendform3.attr('action'),
        data: sendform3.serialize(),
        success: function(data)
        {
          var object = JSON.parse(data);
          console.log(object)
          // display all animes in JSON array
          for(var num = 0; num < object.length; num++){
            var row = object[num];
            var linkCasting1 = '<form action="AnimeDetail" method="post" class="castingShow"><input type="hidden" name="SearchField" value="Casting"><input value="'
            var linkCasting2 = '" name="input" type="hidden"><input class="submit" type="submit" value="檢視角色">'

            var exactRow = '<tr><td style="width:250px; height:250px;"><img id="img'+num+'" class="fitImg">'+'<td>'+row.AName+'<td>'+row.sdName+'<td>'+row.AnimeDate+'<td>'+row.Episode+'<td>'+row.Season+'<td>'+row.Rating+'<td>'+row.Gtype+'<td>'+linkCasting1+row.AnimeID+linkCasting2;
            $("#result").find("tbody").append(exactRow);
            $("#img"+num).attr("src", row.image);
          }
        },
        complete: function(xhr, status) {
          showCast();
          console.log("request datesearch completed!");
        }
      });
      e.preventDefault();
    });

</script>