<!DOCTYPE html>
<html>
<head>
  <title>動畫資訊檢索系統</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <div id='bar'></div>
  <div class="container" style="padding-top:50px">
    放一些發展動機，使用的方法、或者簡略提出技術(?)
  </div>
</body>
</html>
<script src="/javascripts/general.js"></script>