<!DOCTYPE html>
<html>
<head>
  <title>動畫資訊檢索系統</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <div id='bar'></div>
  <div class="container about" style="padding-top:50px;">
    <h1>開發者</h1>
    <hr>
    <h2>B04902092 張均銘</h2>
    <h2>B04902021 陳弘梵</h2>
    <br>
    <h1>使用技術</h1>
    <hr>
    <h2>1.	後端開發環境 : NodeJS、ExpressJS</h2>
    <h2>2.	資料庫端環境：Mysql</h2>
    <h2>3.	資料庫端系統：Docker</h2>
    <h2>4.	前端開發環境：HTML、 jQuery、 Ajax</h2>
    <br>
    <h1>ER diagram</h1>
    <hr>
    <img src="images/ER_diagram.png" class="fitImg">
    <br>
    <br>
    <h1>Relation Database Schema</h1>
    <hr>
    <img src="images/ER_table.png" class="fitImg">
  </div>
</body>
</html>
<script src="/javascripts/general.js"></script>