<!DOCTYPE html>
<html>
  <head>
    <title>動畫資訊檢索系統</title>
      <meta charset="utf-8">
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
	    <script src="/javascripts/jquery.min.js"></script>
	    <script src="/javascripts/bootstrap.min.js"></script>
	    <style type="text/css">
	    .navbar{
	      left:10%;
	      width:80%;
	    }
	    </style>
  </head>
  <body>
  	    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary navbar-fixed">  
      <a class="navbar-brand" href="#">動畫資訊檢索系統</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">About</a>
          <li class="nav-item">
            <a class="nav-link" href="author">作者介紹</a>
          <li class="nav-item ">
            <a class="nav-link" href="technique">技術簡介</a>
          <li class="nav-item">
          	<a class="nav-link" href="DBsearch">動畫資訊檢索</a>
          <li class="nav-item">
            <a class="nav-link" href="VoiceSearch">聲優資訊檢索</a>
          <li class="nav-item active">
            <a class="nav-link" href="SongSearch">動畫歌曲檢索</a>
        </ul>
      </div>
    </nav>

     <div class="container" style="padding-top:50px">
      <h1 style="color:red">歌曲搜尋</h1>
       <form role="form" action="VoiceSearch" method="post" autocomplete="off">
            搜尋項目 : <input type="text" name="SearchField" readonly value="Song"> <br>
            歌曲名稱 : <input type="text" name="VoiceName"><br>
            <input type="submit" value="搜尋">
        </form>
    <hr>
    <h1 style="color:red">動畫歌曲搜尋</h1>
       <form role="form" action="VoiceSearch" method="post" autocomplete="off">
          搜尋項目 : <input type="text" name="SearchField" readonly value="Song"> <br>
          動畫性別 : <select name="AniSong">
            <option value="None">None</option>
            <option value="1">Fate/Zero</option>
            <option value="3">Steins;Gate</option>
            <option value="4">Re:CREATORS</option>
            <option value="5">Re:ゼロから始める異世界生活</option>
            <option value="6">四月是你的謊言</option>
            <option value="7">刀劍神域</option>
            <option value="9">bang dream</option>
          <input type="submit" value="搜尋">
      </form>
    <hr>
    <h1 style="color:red">歌手搜尋</h1>
       <form role="form" action="VoiceSearch" method="post" autocomplete="off">
          搜尋項目 : <input type="text" name="SearchField" readonly value="Song"> <br>
          歌手名稱 : <input type="text" name="Singer">
          <input type="submit" value="搜尋">
      </form>
    <hr>
  </div>
</body>
</html>
