<!DOCTYPE html>
<html>
  <head>
    <title>動畫資訊檢索系統</title>
      <meta charset="utf-8">
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
	    <script src="/javascripts/jquery.min.js"></script>
	    <script src="/javascripts/bootstrap.min.js"></script>
	    <style type="text/css">
	    .navbar{
	      left:10%;
	      width:80%;
	    }
	    </style>
  </head>
  <body>
  	    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary navbar-fixed">  
      <a class="navbar-brand" href="#">動畫資訊檢索系統</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">About</a>
          <li class="nav-item">
            <a class="nav-link" href="author">作者介紹</a>
          <li class="nav-item ">
            <a class="nav-link" href="technique">技術簡介</a>
          <li class="nav-item">
          	<a class="nav-link" href="DBsearch">動畫資訊檢索</a>
          <li class="nav-item active">
            <a class="nav-link" href="VoiceSearch">聲優資訊檢索</a>
          <li class="nav-item">
            <a class="nav-link" href="SongSearch">動畫歌曲檢索</a>
        </ul>
      </div>
    </nav>

     <div class="container" style="padding-top:50px">
      <h1 style="color:red">聲優搜尋</h1>
       <form role="form" action="VoiceSearch" method="post" autocomplete="off">
            搜尋項目 : <input type="text" name="SearchField" readonly value="VoiceName"> <br>
            聲優名稱 : <input type="text" name="VoiceName"><br>
            <input type="submit" value="搜尋">
        </form>
    <hr>
    <h1 style="color:red">性別搜尋</h1>
       <form role="form" action="VoiceSearch" method="post" autocomplete="off">
          搜尋項目 : <input type="text" name="SearchField" readonly value="gender"> <br>
          聲優性別 : <input type="radio" name="Sex" value="1">Male <input type="radio" name="Sex" value="0">Female <br>
          <input type="submit" value="搜尋">
      </form>
    <hr>
    <h1 style="color:red">動畫搜尋</h1>
      輸出該動畫內的聲優及其對應角色
       <form role="form" action="VoiceSearch" method="post" autocomplete="off">
            搜尋項目 : <input type="text" name="SearchField" readonly value="VoiceAnime"> <br>
       <select name="GenreName">
          <option value="None">None</option>
          <option value="1">Fate/Zero</option>
          <option value="2">Steins;Gate
          <option value="3">Re:CREATORS
          <option value="4">Re:ゼロから始める異世界生活
          <option value="5">とある魔術の禁書目録
          <option value="6">四月是你的謊言
          <option value="7">刀劍神域第一季
          <option value="8">刀劍神域第二季
          <option value="9">bang dream<br>
       </select>
        <input type="submit" value="搜尋">
    </form>
    <hr>
  </div>
</body>
</html>
